* {
  margin: 0;
}

#grade {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 1fr 15%;
  grid-template-rows: 100px 1fr 1fr 75px;

  grid-template-areas: 
    "navegacao cabecalho cabecalho"
    "navegacao produtos publicidade"
    "navegacao servicos publicidade"
    "navegacao rodape rodape"
  ;
}

header {
  background-color: red;
  grid-area: cabecalho;
}

section#section1 {
  background-color: blue;
  grid-area: produtos;
}

section#section2 {
  background-color: yellow;
  grid-area: servicos;
}

nav {
  background-color: orange;
  grid-area: navegacao;
}

aside {
  background-color: purple;
  grid-area: publicidade;
}

footer {
  background-color: pink;
  grid-area: rodape;
}