.menu {
  list-style: none;
}

.menu__item {
  display: inline-block;
  width: 20%;
}

.submenu {
  position: absolute;
  background-color: lightblue;
  width: 100px;
  display: none;
}

.com-submenu:hover .submenu {
  display: block;
}
