* {
  margin: 0;
  padding: 0;
}

section {
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
}

div {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: rgb(103, 103, 251);
  border: solid 5px blue;
}

.sectionRelative__div2 {
  background-color: rgb(253, 129, 129);
  border: solid 5px red;

  position: relative;
  
  top: 20px;
  left: 20px;
}

.sectionAbsolute {
  background-color: green;
  position: relative;
}

.sectionAbsolute__div2 {
  background-color: rgb(255, 255, 171);
  border: solid 5px yellow;

  position: absolute;
  top: 20px;
  left: 20px;
}

.sectionFixed__div2 {
  background-color: rgb(98, 219, 98);
  border-color: green;

  position: fixed;
  bottom: 0px;
  left: 0px;
}

.sectionStick__div2 {
  display: block;
  background-color: pink;
  border-color: rgb(255, 152, 169);

  position: sticky;
  top: 20px;
}

.sectionZIndex__div1 {
  background-color: rgb(178, 48, 178);
  border-color: purple;

  position: absolute;
  z-index: 20;
}

.sectionZIndex__div2 {
  position: absolute;
  z-index: 10;
}