/* GRADIENTE */
div {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.pergunta {
  position: relative;
  top: 50px;
  left: 50px;
}

.kahoot {
  background-image: radial-gradient(red, yellow, blue);
  border-right: solid 5px black;
  border-bottom: solid 5px black;
  transform: rotate(45deg);
}

.gradiente-linear {
  background-image: linear-gradient(to bottom, red, yellow, blue);
}

.gradiente-linear-para-cima {
  background-image: linear-gradient(to top, red, yellow, blue);
}

.gradiente-linear-para-direita {
  background-image: linear-gradient(to right, red, yellow, blue);
}

.gradiente-linear-para-esquerda {
  background-image: linear-gradient(to left, red, yellow, blue);
}

.gradiente-linear-inclinado {
  background-image: linear-gradient(60deg, red, yellow, blue);
}

.gradiente-radial {
  background-image: radial-gradient(red, yellow, blue);
}

/* TRANSFORMAÇÃO */
.transform {
  background-color: red;
  border: solid 1px black;
}

.translate {
  transform: translateY(10px);
}

.rotate {
  transform: rotate(45deg);
}

.scale {
  transform: scale(0.8, 0.5);
}

.skew {
  transform: skew(10deg, 5deg);
}

.seta {
  width: 50px;
  height: 50px;

  position: relative;
  top: 50px;
  left: 50px;

  border-right: solid 2px black;
  border-bottom: solid 2px black;
  transform: rotate(45deg);

  transition: transform 0.5s;
}

.seta:hover {
  transform: rotate(-135deg);
}

.transition {
  background-color: blue;
  color: white;
  transition: all 2s;
}

.transition:hover {
  width: 200px;
  height: 300px;
  background-color: orange;
  padding: 8px;
  color: black;
}

button {
  cursor: pointer;
  background-color: white;
  color: black;
  border: solid 1px black;

  transition: all 0.3s;
}

button:hover {
  background-color: black;
  color: white;
}

input {
  width: 100px;
  transition: all 2s;
}

input:focus {
  width: 200px;
}

img {
  width: 300px;
  transition: all 1s;
}

img:hover {
  width: 400px;
}

h1 {
  animation-duration: 3s;
  animation-iteration-count: 5;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animation {
  background-color: green;
  width: 100px;
  height: 100px;
  
  animation-name: um_efeito;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 5s;

  /* animation: um_efeito 3s linear 5s infinite; */
}

@keyframes um_efeito {
  0% {
    width: 100px;
  }

  25% {
    width: 300px;
  }

  50% {
    width: 200px;
    background-color: red;
  }

  75% {
    width: 300px;
  }

  100% {
    width: 100px;
    background-color: green;
  }
}