* {
	margin: 0;
	padding: 0;
}

header img, footer img {
	width: 100px;
}

#imgParagrafo img {
	height: 200px;
}

header {
	grid-area: header;
	/* background-color: red; */

  display: flex;
  justify-content: center;
}

#navEsq {
	grid-area: navEsq;
	/* background-color: pink; */
}

#navDir {
	grid-area: navDir;
	/* background-color: orange; */
}

#navEsq, #navDir {
  display: flex;
  align-items: center;
}

#navEsq ul, #navDir ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#paragrafo {
	grid-area: paragrafo;
	/* background-color: yellow; */
}

#imgParagrafo {
	grid-area: imgParagrafo;
	/* background-color: green; */

  display: flex;
  justify-content: center;
}

footer {
	grid-area: footer;
	/* background-color: purple; */

  border-top: solid 1px black;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  padding: 24px;
  row-gap: 40px;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 1fr 200px;

	grid-template-areas:
		'navEsq header navDir'
		'paragrafo imgParagrafo imgParagrafo'
		'footer footer footer';
}

@media only screen and (max-width: 481px) {
	.container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 100px 1fr 1fr 200px 200px;

		grid-template-areas:
			'header header'
			'navEsq navDir'
			'paragrafo paragrafo'
			'imgParagrafo imgParagrafo'
			'footer footer';
	}

  footer {
    flex-direction: column;
  }
}
