.pai {
	height: 500px;
	background-color: red;

	display: flex;

	flex-direction: row;
	flex-wrap: wrap;
	/* flex-flow: row wrap; */

	justify-content: center;
	align-items: center;
  /* align-content: flex-start; */
  gap: 16px;
}

.filho {
	background-color: pink;
	border: solid 1px black;

  height: 100px;
	width: 100px;
  /* flex-grow: 1; */
}

/* .filho3 {
  flex-grow: 2;
}

.filho1 {
  flex-grow: 1;
} */
